<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Gulistan_JPS02">
        <wb-resource deploy-path="/" source-path="/Web Content"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/Java Source"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_generated"/>
        <property name="java-output-path" value="Web Content/WEB-INF/classes"/>
        <property name="jsf.standard.scheme.managedBean" value="singleFile"/>
        <property name="jsf.standard.scheme.other" value="singleFile"/>
        <property name="jsf.standard.scheme.navigationRule.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.standard.scheme.pageCodeBean" value="singleFile"/>
        <property name="context-root" value="Gulistan_JPS02"/>
        <property name="jsf.standard.scheme.pageCodeBean.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.standard.scheme.other.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.base" value="7.5.0.0"/>
        <property name="jsf.ri" value="7.5.0.0"/>
        <property name="jsf.standard.scheme.navigationRule" value="singleFile"/>
        <property name="jsf.standard.scheme.managedBean.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.extended" value="8.0.2200.v20110217_0119"/>
    </wb-module>
</project-modules>