<?xml version="1.0" encoding="UTF-8"?>
<!-- This tag libray is used by the HATS Administration Console -->
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
	<tlib-version>1.2</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>HATSAdmin</short-name>
	<description>This tag libray is used by the HATS Administration Console</description>
	<tag>
		<name>UserMessage</name>
		<tag-class>com.ibm.hats.runtime.admin.UserMessageTag</tag-class>
		<body-content>empty</body-content>
		<description>Table used to display any messages for the user as a result of a user action</description>
		
	</tag>
	<tag>
		<name>BrowseButtons</name>
		<tag-class>com.ibm.hats.runtime.admin.BrowseButtonsTag</tag-class>
		<body-content>empty</body-content>
		<description>Table used to display the browse buttons</description>
		<attribute>
			<name>start</name>
			<required>true</required>
            <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>finish</name>
			<required>true</required>
            <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>total</name>
			<required>true</required>
            <rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>function</name>
			<required>true</required>
            <rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>Scope</name>
		<tag-class>com.ibm.hats.runtime.admin.ScopeTag</tag-class>
		<body-content>empty</body-content>
		<description>USed to display the scope</description>
	</tag>
	<tag>
        <name>HelpLink</name>
                <tag-class>com.ibm.hats.runtime.admin.HelpLinkTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>topicID</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <name>showImage</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        
        <attribute>
            <name>showCaption</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <name>linkStyleClass</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>    
    </tag>


	
	
</taglib>