.ddsmoothmenu{
	background: transparent; /*background of menu bar (default state)*/
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform:uppercase;
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block; /*background of menu items (default state)*/
	color: white;
	border-right: 1px solid #fff;
	text-decoration: none;
	/*background-color: transparent;
	background-image: url(../images/menubg.gif);
	background-repeat: repeat-x;
	background-position: center top;*/
	padding-top: 5px;
	padding-right: 38px;
	padding-bottom: 7px;
	padding-left: 38px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
	color: #000;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	/*background-image: url(../images/menuhover.gif);
	background-repeat: repeat-x;*/
	background:#8b794f;
	color: #fff;
}

.ddsmoothmenu ul li a:hover{
	color: black;
	/*background-image: url(../images/menuhover.gif);
	background-repeat: repeat-x;*/
	background:#8b794f;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	width: 150px; /*width of sub menus*/
	padding: 5px;
	margin: 0;
	background:#b3a075;
	font: bold 11px Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	border-bottom:1px solid #706448;
	border-left:1px solid #706448;
	border-right:1px solid #706448;
	color: #000;
}

.ddsmoothmenu ul li ul li a:hover{
	color: white;
	background-color:#8b794f;
	/*background-image: url(../images/menuhover.gif);
	background-repeat: repeat-x;*/
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
	position: absolute;
	top: 11px;
	right: 5px;
}

.rightarrowclass{
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: transparent;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
	opacity: 0;
	filter: alpha(opacity=0);
}