/* styles to fix IE7 */
ul { display:inline-block; font-size:14px; font-weight:bold; }
ul li a span { position:absolute; /*right:5px; top:10px;*/ font-size:14px; padding:5px 30px; font-weight:bold; }
ul ul li a { border-right:none; padding:5px 8px; font-size:11px; font-weight:bold; }
.content { clear:both; }