#vista_toolbar {
	float:left;
	font-family:bold 11px Tahoma, Geneva, sans-serif;
	margin: 0;
	color:#fff;
	padding:0;
	font-style: normal;
	font-variant: normal;
	text-transform:uppercase;
	white-space:nowrap;
}

#vista_toolbar ul {
	background-repeat:repeat-x;
	line-height:24px;
	list-style:none;
	margin:0;
	text-align:center;
	padding:0;
}

#vista_toolbar li {
	display:inline;
}

#vista_toolbar a {
	color:#000; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding:0 5px 0 5px;
	background: url(../images/menu/left.png) no-repeat left bottom;
}

#vista_toolbar a span {
	display:block;
	float:none;
	padding:0 20px 0 15px;
	background: url(../images/menu/right.png) no-repeat right bottom;
}

#vista_toolbar a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#vista_toolbar a:hover{
	color: #fff;
	background: url(../images/menu/left.png) no-repeat left top;
}

#vista_toolbar a:hover span {
	background: url(../images/menu/right.png) no-repeat right top;
}

#vista_toolbar a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}





#vista_toolbar2 {
	float:left;
	font-family: bold 11px Tahoma, Geneva, sans-serif;
	margin: 0;
	color:#fff;
	padding:0;
	font-style: normal;
	font-variant: normal;
	text-transform:uppercase;
	white-space:nowrap;
}

#vista_toolbar2 ul {
	background-repeat:repeat-x;
	line-height:24px;
	list-style:none;
	margin:0;
	text-align:center;
	padding:0;
}

#vista_toolbar2 li {
	display:inline;
}

#vista_toolbar2 a {
	color:#000; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding:0 0 0 5px;
	background: url(../images/menu/left.png) no-repeat left bottom;
}

#vista_toolbar2 a span {
	display:block;
	float:none;
	padding:0 20px 0 15px;
	background: url(../images/menu/right.png) no-repeat right bottom;
}

#vista_toolbar2 a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#vista_toolbar2 a:hover{
	color: #fff;
	background: url(../images/menu/left.png) no-repeat left top;
}

#vista_toolbar2 a:hover span {
	background: url(../images/menu/right.png) no-repeat right top;
}

#vista_toolbar2 a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}







#popupbtn {
	float:left;
	font-family:bold 13px Tahoma, Geneva, sans-serif;
	margin: 0;
	color:#fff;
	padding:0;
	font-style: normal;
	font-variant: normal;
	text-transform:uppercase;
	white-space:nowrap;
}

#popupbtn ul {
	background-repeat:repeat-x;
	line-height:24px;
	list-style:none;
	margin:0;
	text-align:center;
	padding:0;
}

#popupbtn li {
	display:inline;
}

#popupbtn a {
	color:#fff; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding:0 5px 0 20px;
	background: url(../images/menu/popup_left.gif) no-repeat left top;
}

#popupbtn a span {
	display:block;
	float:none;
	padding:0 20px 4px 10px;
	background: url(../images/menu/popup_right.gif) no-repeat right top;
}

#popupbtn a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#popupbtn a:hover{
	color: #404040;
	background: url(../images/menu/popup_left.gif) no-repeat left bottom;
}

#popupbtn a:hover span {
	background: url(../images/menu/popup_right.gif) no-repeat right bottom;
}

#popupbtn a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}


#topbtn {
	float:left;
	font-family:bold 13px Tahoma, Geneva, sans-serif;
	margin: 0;
	color:#fff;
	padding:0;
	font-style: normal;
	font-variant: normal;
	white-space:nowrap;
}

#topbtn ul {
	background-repeat:repeat-x;
	line-height:18px;
	list-style:none;
	margin:0;
	text-align:center;
	padding:0;
}

#topbtn li {
	display:inline;
}

#topbtn a {
	color:#fff; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding:0 0 0 4px;
	margin:0 6px;
	background: url(../images/menu/top_left.gif) no-repeat left top;
}

#topbtn a span {
	display:block;
	float:none;
	padding:0 15px 0 10px;
	background: url(../images/menu/top_right.gif) no-repeat right top;
}

#topbtn a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#topbtn a:hover{
	color: #000;
	background: url(../images/menu/top_left.gif) no-repeat left bottom;
}

#topbtn a:hover span {
	background: url(../images/menu/top_right.gif) no-repeat right bottom;
}

#topbtn a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}

/*********************Nov 09 2010***********************/
#topbtn22 {
	float:left;
	font-family:bold 13px Tahoma, Geneva, sans-serif;
	margin: 0;
	color:#fff;
	padding:0;
	font-style: normal;
	font-variant: normal;
	white-space:nowrap;
}

#topbtn22 ul {
	background-repeat:repeat-x;
	line-height:18px;
	list-style:none;
	margin:0;
	text-align:center;
	padding:0;
}

#topbtn22 li {
	display:inline;
}

#topbtn22 a {
	color:#fff; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding:0 0 0 4px;
	margin:0 6px;
	background: url(../images/menu/top_left.gif) no-repeat left top;
}

#topbtn22 a span {
	display:block;
	float:none;
	padding:0 15px 0 10px;
	background: url(../images/menu/top_right.gif) no-repeat right top;
}

#topbtn22 a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#topbtn22 a:hover{
	color: #000;
	background: url(../images/menu/top_left.gif) no-repeat left bottom;
}

#topbtn22 a:hover span {
	background: url(../images/menu/top_right.gif) no-repeat right bottom;
}

#topbtn22 a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}
/*********************Nov 09 2010***********************/
.disable {
	text-decoration: none;
	color: green;
}
a.disable:hover {
	text-decoration: none;
	color: green;
}

/*Popup Style*/

.popupmain {
	margin:0px auto;
	width:600px;
	height:300px;
}
.popupmain2 {
	margin:0px auto;
	width:600px;
	height:400px;
}
.txtpopred {
	font:bold 16px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#F00;
	text-decoration:none;
}
.fieldtxtfull2 {
	width:400px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma, Geneva, sans-serif;
	text-align:left;
	vertical-align:middle;
	border:2px solid #d3d3d3;
}
.detailstxtheadingnew2 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#43280c;
	width:150px;
	background-color: #FFF;
	text-transform:uppercase;
	margin-left:10px;
	padding:0px 0px;
}
