body {
	background: 
url(../images/dots.png)  top center repeat,
url(../images/bg.gif) top center repeat-x #bea382;
	margin:0px auto;
}
.clear {clear:both;	padding-top:0px;}
.clear1px {clear:both; padding-top:1px;}
.clear2px {clear:both; padding-top:2px;}
.clear3px {clear:both; padding-top:3px;}
.clear4px {clear:both; padding-top:4px;}
.clear5px {clear:both; padding-top:5px;}
.clear6px {clear:both; padding-top:6px;}
.clear7px {clear:both; padding-top:7px;}
.clear8px {clear:both; padding-top:8px;}
.clear9px {clear:both; padding-top:9px;}
.clear10px {clear:both; padding-top:10px;}
.clear11px {clear:both; padding-top:11px;}
.clear12px {clear:both;	padding-top:12px;}
.clear13px {clear:both;	padding-top:13px;}
.clear14px {clear:both;	padding-top:14px;}
.clear15px {clear:both;	padding-top:15px;}
.clear16px {clear:both;	padding-top:16px;}
.clear17px {clear:both;	padding-top:17px;}
.clear18px {clear:both;	padding-top:18px;}
.clear19px {clear:both;	padding-top:19px;}
.clear20px {clear:both;	padding-top:20px;}
.clear21px {clear:both;	padding-top:21px;}
.clear22px {clear:both;	padding-top:22px;}
.clear23px {clear:both;	padding-top:23px;}
.clear24px {clear:both; padding-top:24px;}
.clear25px {clear:both;	padding-top:25px;}
.clear26px {clear:both;	padding-top:26px;}
.clear27px {clear:both;	padding-top:27px;}
.clear28px {clear:both;	padding-top:28px;}
.clear29px {clear:both;	padding-top:29px;}
.clear30px {clear:both;	padding-top:30px;}
.clear31px {clear:both;	padding-top:31px;}
.clear32px {clear:both;	padding-top:32px;}
.clear33px {clear:both;	padding-top:33px;}
.clear34px {clear:both;	padding-top:34px;}
.clear35px {clear:both;	padding-top:35px;}
.clear36px {clear:both;	padding-top:36px;}
.clear37px {clear:both;	padding-top:37px;}
.clear38px {clear:both;	padding-top:38px;}
.clear39px {clear:both;	padding-top:39px;}
.clear40px {clear:both;	padding-top:40px;}
.clear41px {clear:both;	padding-top:41px;}
.clear42px {clear:both;	padding-top:42px;}
.clear43px {clear:both;	padding-top:43px;}
.clear44px {clear:both; padding-top:44px;}
.clear45px {clear:both;	padding-top:45px;}
.clear46px {clear:both;	padding-top:46px;}
.clear47px {clear:both;	padding-top:47px;}
.clear48px {clear:both;	padding-top:48px;}
.clear49px {clear:both;	padding-top:49px;}
.clear50px {clear:both;	padding-top:50px;}
.clear51px {clear:both;	padding-top:51px;}
.clear52px {clear:both;	padding-top:52px;}
.clear53px {clear:both;	padding-top:53px;}
.clear54px {clear:both;	padding-top:54px;}
.clear55px {clear:both;	padding-top:55px;}
.clear56px {clear:both;	padding-top:56px;}
.clear57px {clear:both;	padding-top:57px;}
.clear58px {clear:both;	padding-top:58px;}
.clear59px {clear:both;	padding-top:59px;}
.clear60px {clear:both;	padding-top:60px;}
.clear61px {clear:both;	padding-top:61px;}
.clear62px {clear:both;	padding-top:62px;}
.clear63px {clear:both;	padding-top:63px;}
.clear64px {clear:both;	padding-top:64px;}
.clear65px {clear:both;	padding-top:65px;}
.clear66px {clear:both;	padding-top:66px;}
.clear67px {clear:both;	padding-top:67px;}
.clear68px {clear:both;	padding-top:68px;}
.clear69px {clear:both;	padding-top:69px;}
.clear70px {clear:both;	padding-top:70px;}
.clear80px {clear:both;	padding-top:80px;}
#wrapper {
	margin:0px auto;
	width:980px;
	background-color: #FFF;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
}
header {
	margin:0px;
	height:81px;
}
nav {
	margin:0px;
}
.navbar {
	height:25px !important;
	background: -moz-linear-gradient(100% 94% 90deg,#B67328, #E9CF9F, #D4A559 100%);
}
.multibackground_transparent {
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/flowers-pattern.jpg);
	height:400px;
	width:400px;
}
.topbar {
	margin:0px auto;
	width:970px;
	height:28px !important;
	background: -moz-linear-gradient(bottom, rgba(201,183,164,0), rgba(201,183,164,1));
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
/*login start*/
.login_bg {
	margin:0px auto;
	width:580px;
	height:250px;
	background-image: url(../images/login_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.logintxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	color:#43280c;
	padding-right:10px;
	text-align:right;
}
.logginfield {
	width:200px;
	height:18px;
	border: 1px solid #b99b75;
}
.clickbtnmain {
	padding-right:151px;
}
.clickherebtn input {
	width:78px;
	height:24px;
	background-repeat: no-repeat;
	background-image: url(../images/clickhere_btn.gif);
	display: block;
	color: #fff;
	border: 0;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 11px;
	padding-bottom:0px;
	margin: 0;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #694425;
}

.clickherebtn input:hover {
	color: #e7cb9b;
}
/*login end*/

/*details start*/
fieldset.detailsmain {
	margin:0px auto;
	width:700px;
	border: 2px solid #c6b3a0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#333;
	padding: 5px 25px 10px 25px;
}
legend.detailstxtheading {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#43280c;
	background-color: #FFF;
	text-transform:uppercase;
	padding: 0px 25px;
}
/*details end*/

/*button start*/
.bttntxt a{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	background-image: url(../images/btnnew_rpt.png);
	background-repeat: repeat-x;
	background-color: #8b6845;
	border: 1px solid #8e6842;
	padding:4px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.bttntxt a:hover{
	color:#000;
	background-color: #d3a154;
}
/*button end*/

/*fooer start*/
footer {
	margin:0px;
}
.footerbg {
	margin:0px auto;
	width:980px;
	height:42px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	background-color: #d19e4f;
	background-image: url(../images/footerrpt.gif);
	background-repeat: repeat-x;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	background-position: center bottom;
}
/*fooer end*/