
body {
	margin:0px auto;
}
.clear {
	clear:both;
	height:0px;
}
.clear1px {
	clear:both;
	height:1px;
}
.clear2px {
	clear:both;
	height:2px;
}
.clear3px {
	clear:both;
	height:3px;
}
.clear4px {
	clear:both;
	height:4px;
}
.clear5px {
	clear:both;
	height:5px;
}
.clear6px {
	clear:both;
	height:6px;
}
.clear7px {
	clear:both;
	height:7px;
}
.clear8px {
	clear:both;
	height:8px;
}
.clear9px {
	clear:both;
	height:9px;
}
.clear10px {
	clear:both;
	height:10px;
}
.clear11px {
	clear:both;
	height:11px;
}
.clear12px {
	clear:both;
	height:12px;
}
.clear13px {
	clear:both;
	height:13px;
}
.clear14px {
	clear:both;
	height:14px;
}
.clear15px {
	clear:both;
	height:15px;
}
.clear16px {
	clear:both;
	height:16px;
}
.clear17px {
	clear:both;
	height:17px;
}
.clear18px {
	clear:both;
	height:18px;
}
.clear19px {
	clear:both;
	height:19px;
}
.clear20px {
	clear:both;
	height:20px;
}
.clear21px {
	clear:both;
	height:21px;
}
.clear22px {
	clear:both;
	height:22px;
}
.clear23px {
	clear:both;
	height:23px;
}
.clear24px {
	clear:both;
	height:24px;
}
.clear25px {
	clear:both;
	height:25px;
}
.clear26px {
	clear:both;
	height:26px;
}
.clear27px {
	clear:both;
	height:27px;
}
.clear28px {
	clear:both;
	height:28px;
}
.clear29px {
	clear:both;
	height:29px;
}
.clear30px {
	clear:both;
	height:30px;
}
.clear31px {
	clear:both;
	height:31px;
}
.clear32px {
	clear:both;
	height:32px;
}
.clear33px {
	clear:both;
	height:33px;
}
.clear34px {
	clear:both;
	height:34px;
}
.clear35px {
	clear:both;
	height:35px;
}
.clear36px {
	clear:both;
	height:36px;
}
.clear37px {
	clear:both;
	height:37px;
}
.clear38px {
	clear:both;
	height:38px;
}
.clear39px {
	clear:both;
	height:39px;
}
.clear40px {
	clear:both;
	height:40px;
}
.clear41px {
	clear:both;
	height:41px;
}
.clear42px {
	clear:both;
	height:42px;
}
.clear43px {
	clear:both;
	height:43px;
}
.clear44px {
	clear:both;
	height:44px;
}
.clear45px {
	clear:both;
	height:45px;
}
.clear80px {
	clear:both;
	height:80px;
}
.main {
	margin:0px auto;
	width:980px;
}
.header {
	height:55px;
}
.headerbelowline {
	height:4px;
	background-color:#ddd;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.bodycontentbg {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.bodycontentbg3new {
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.neonwcreaated {
	background-image: url(../images/ddtosline.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
.bodycontentbgnewd {
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.bodytoplinebg {
	height:25px;
	background-color: #0074ac;
	background-image: url(../images/bodytoplinebg.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.footerbg {
	width: 978px;
	height:18px;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
}
.fottxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
.toptxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	padding-top:3px;
}
.boxloanpage {
	margin:0px auto;
	width:900px;
	height:auto;
}
.boxloanpage58 {
	margin:0px auto;
	width:910px;
	height:auto;
}
.boxloanpagenew {
	margin:0px auto;
	width:940px;
	height:auto;
	padding-top:10px;
}
.boxloanpage2 {
	margin:0px auto;
	width:978px;
	height:auto;
}
.boxloanpage3 {
	margin:0px auto;
	width:450px;
	height:auto;
}

.middlerpt {
	height:auto;
	background-image: url(../images/middle-rpt.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
}



.toprpt {
	width:auto;
	height:5px;
	height:5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
	color: #FFF;
	font-size: 2px;
}
.bottomrpt {
	width:auto;
	height:auto;
	background-image: url(../images/bottom-rpt.gif);
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	background-position: center bottom;
	background-color: #b6dbed;
}
.topbarline {
	margin:opx;
}
.topbartxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333;
	text-align:left;
	padding:3px;
}
.topbarlinee {
	border:1px solid #999;
	width:100px;
}
.btnnext a{
	width:80px;
	height:15px;
	padding-top:2px;
	background-image: url(../images/btnnext.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#fff;
	text-align:center;
	display:block;
	cursor:pointer;
	text-decoration:none;
}
.btnnext a:hover{
	color:#000;
}
.btnprev a{
	width:80px;
	height:16px;
	background-image: url(../images/btnnext.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #58aed6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#004d70;
	text-align:center;
	display:block;
	cursor:pointer;
	text-decoration:none;
}
.btnprev a:hover{
	color:#ffa200;
}
.btnmore a{
	width:100px;
	height:19px;
	padding-top:3px;
	background-image: url(../images/btnbelowbg.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #58aed6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	display:block;
	cursor:pointer;
	text-decoration:none;
	text-transform:uppercase;
}
.btnmore a:hover{
	color:#ffc55f;
}
.btnmore2 a{
	width:130px;
	height:19px;
	padding-top:3px;
	background-image: url(../images/btnbelowbg.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #58aed6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	display:block;
	cursor:pointer;
	text-decoration:none;
}
.btnmore2 a:hover{
	color:#ffc55f;
}
.btnmenu a{
	width:320px;
	height:16px;
	padding-top:4px;
	padding-left:5px;
	background-image: url(../images/btn-menubg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#036799;
	text-align:left;
	display:block;
	cursor:pointer;
	text-decoration:none;
	text-transform:uppercase;
}
.btnmenu a:hover{
	color:#ffa300;
}


/*Table*/
.evenRow {
	background-color:#ededed;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.evenRow td {
	padding:3px;
}
.oddRow {
	background-color:#f7f7f7;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.oddRow td {
	padding:3px;
}
.oddRowdd {
	background-color:#13508f;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.textBoldBlue	{
	color:#3366CC;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

	.tableRollOverEffect1{
		background-color:#1d91c6;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		border-bottom:1px solid #fff;
		padding:3px;
	}

	.tableRollOverEffect2{
		background-color:#000;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		border-bottom:1px solid #fff;
		padding:3px;
	}
	
	.tableRowClickEffect1{
		background-color:#1d91c6;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		border-bottom:1px solid #fff;
		padding:3px;
	}
	.tableRowClickEffect2{
		background-color:#000;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		border-bottom:1px solid #fff;
		padding:3px;
	}
	

/*page 01*/
.txt11 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
}
.txt12 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:bold;
}
.txt13 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#333;
	text-align:left;
	padding:3px;
}
.txt14 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333;
	text-align:left;
	padding:3px;
}
.txt1heading {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#046cbc;
	font-weight:bold;
	text-align:center;
}
.txt1heading2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#046cbc;
	font-weight:bold;
	text-align:center;
}
.topbarlinee2 {
	border:1px solid #999;
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:uppercase;
	color:#ffb502;
}
.topbarlinee3 {
	border:1px solid #999;
	width:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:uppercase;
	color:#ffb502;
}
.bodycontentbg_01 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
	height:400px;
}
.bodycontentbg_02 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
	height:500px;
}
.dottedline {
	margin:0px auto;
	width:800px;
	height:1px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999;
}
.topbarline {
	margin:0px auto;
	width:200px;
}
.btnbarlines {
	margin:opx;
}

/*Style new*/
.evenRowd {
	cursor:pointer;
	background-color:#ededed;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.evenRowd td {
	padding:3px;
}
.oddRowd {
	background-color:#f7f7f7;
	color:#666666;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.oddRowd td {
	padding:3px;
}
.tableRollOverEffect1d{
		background-color:#1d91c6;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		border-bottom:1px solid #fff;
		padding:3px;
}
.tableRowClickEffect1d{
		background-color:#1d91c6;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		border-bottom:1px solid #fff;
		padding:3px;
}
div#footer {
	clear: both;
	vertical-align: middle;
	padding: 0;
	margin: 0; 
	position:absolute;
	width:100%;
	bottom:0px;
}
.tabwd {
	margin:0px;
}
.tabwds {
	margin:0px;
	padding-right:15px;
}

a.evenRownewone {
	color:#666666;
	font-size:13px;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	text-decoration: none;
	white-space: pre;
	height: 20px;
	background-color: transparent;
	border-collapse: collapse;
	padding-left:3px;
	width: 897px;
}
a:hover.evenRownewone {
	color:#fff;
	font-size:13px;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	text-decoration: none;
	background-color: #1892c6;
	border-collapse: collapse;
	padding-left:3px;
	width: 897px;
}
#linksArea table {
	padding: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0px;
}
#linksArea tr {
	padding: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0px;
}
#linksArea td {
	padding: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0px;
}
.evenRownewone2 {
	color:#666666;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-image: url(../images/rowbg.gif);
	background-repeat: repeat-y;
	background-position: center top;
}
.evenRownewone58 {
	color:#666666;
	font-size:12px;
	font-weight:bold;
	font-family:monospace;
	text-decoration: none;
	background-image: url(../images/rowbg.gif);
	background-repeat: repeat-y;
	background-position: center top;
}
.oddRownewone {
	background-color:#f7f7f7;
	color:#666666;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#topcontent {
	margin: 0px;
	
}
#loadingimgtop {
	width: 980px;
	height: 500px;
	border: 1px solid #ddd;
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
#loadingimg{
	margin: 0px auto;
    height:100px;
    width:100px;
}

* html #loadingimgd { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
