object{
	border: 0;
	outline: none;
	margin:0px;
}

a {
	border: 0;
	outline: none;
	margin:0px;
}
form {
	border: 0;
	outline: none;
	margin:0px;
}
body {
	margin:0px auto;
	background:#f8f6f1 url(../images/bg.gif) repeat-x;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.gradimg {
	background: transparent url(../images/dotsd.png) repeat;
}
.main {
	margin:0px auto;
	width:980px;
	background:#FFF;
	border-left:1px solid #8c7a52;
	border-right:1px solid #8c7a52;
}
.maininner {
	margin:0px auto;
	width:980px;
	height:564px;
}
.butt-add-user {
border:1px solid #A08B5B;
background-color:#ffffff;
padding:5px;
margin:5px 0px 0px 0px;
color:RED;
text-align:center!important;
}

input {
	width:auto;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.clear {clear:both;	padding-top:0px;}
.clear1px {clear:both; padding-top:1px;}
.clear2px {clear:both; padding-top:2px;}
.clear3px {clear:both; padding-top:3px;}
.clear4px {clear:both; padding-top:4px;}
.clear5px {clear:both; padding-top:5px;}
.clear6px {clear:both; padding-top:6px;}
.clear7px {clear:both; padding-top:7px;}
.clear8px {clear:both; padding-top:8px;}
.clear9px {clear:both; padding-top:9px;}
.clear10px {clear:both; padding-top:10px;}
.clear11px {clear:both; padding-top:11px;}
.clear12px {clear:both;	padding-top:12px;}
.clear13px {clear:both;	padding-top:13px;}
.clear14px {clear:both;	padding-top:14px;}
.clear15px {clear:both;	padding-top:15px;}
.clear16px {clear:both;	padding-top:16px;}
.clear17px {clear:both;	padding-top:17px;}
.clear18px {clear:both;	padding-top:18px;}
.clear19px {clear:both;	padding-top:19px;}
.clear20px {clear:both;	padding-top:20px;}
.clear21px {clear:both;	padding-top:21px;}
.clear22px {clear:both;	padding-top:22px;}
.clear23px {clear:both;	padding-top:23px;}
.clear24px {clear:both; padding-top:24px;}
.clear25px {clear:both;	padding-top:25px;}
.clear26px {clear:both;	padding-top:26px;}
.clear27px {clear:both;	padding-top:27px;}
.clear28px {clear:both;	padding-top:28px;}
.clear29px {clear:both;	padding-top:29px;}
.clear30px {clear:both;	padding-top:30px;}
.clear31px {clear:both;	padding-top:31px;}
.clear32px {clear:both;	padding-top:32px;}
.clear33px {clear:both;	padding-top:33px;}
.clear34px {clear:both;	padding-top:34px;}
.clear35px {clear:both;	padding-top:35px;}
.clear36px {clear:both;	padding-top:36px;}
.clear37px {clear:both;	padding-top:37px;}
.clear38px {clear:both;	padding-top:38px;}
.clear39px {clear:both;	padding-top:39px;}
.clear40px {clear:both;	padding-top:40px;}
.clear41px {clear:both;	padding-top:41px;}
.clear42px {clear:both;	padding-top:42px;}
.clear43px {clear:both;	padding-top:43px;}
.clear44px {clear:both; padding-top:44px;}
.clear45px {clear:both;	padding-top:45px;}
.clear46px {clear:both;	padding-top:46px;}
.clear47px {clear:both;	padding-top:47px;}
.clear48px {clear:both;	padding-top:48px;}
.clear49px {clear:both;	padding-top:49px;}
.clear50px {clear:both;	padding-top:50px;}
.clear51px {clear:both;	padding-top:51px;}
.clear52px {clear:both;	padding-top:52px;}
.clear53px {clear:both;	padding-top:53px;}
.clear54px {clear:both;	padding-top:54px;}
.clear55px {clear:both;	padding-top:55px;}
.clear56px {clear:both;	padding-top:56px;}
.clear57px {clear:both;	padding-top:57px;}
.clear58px {clear:both;	padding-top:58px;}
.clear59px {clear:both;	padding-top:59px;}
.clear60px {clear:both;	padding-top:60px;}
.clear61px {clear:both;	padding-top:61px;}
.clear62px {clear:both;	padding-top:62px;}
.clear63px {clear:both;	padding-top:63px;}
.clear64px {clear:both;	padding-top:64px;}
.clear65px {clear:both;	padding-top:65px;}
.clear66px {clear:both;	padding-top:66px;}
.clear67px {clear:both;	padding-top:67px;}
.clear68px {clear:both;	padding-top:68px;}
.clear69px {clear:both;	padding-top:69px;}
.clear70px {clear:both;	padding-top:70px;}
.clear80px {clear:both;	padding-top:80px;}

.header {
	margin:0px;
	width:980px;
	height:65px;
	background:transparent url(../images/header.jpg) no-repeat center top;
}
.topbar_heading {
	height:25px;
	background-image: url(../images/topbar_heading.gif);
	background-repeat: repeat-x;
}
.topbar_headingtxt1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding-top:3px;
	padding-left:5px;
}
/***************************ZahoorDec5,2011*****************/
.topbar_headingtxtred1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#43280c;
	padding-top:3px;
	padding-left:5px;
}
/*****************************************/
.topbar_headingtxt2 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding-top:5px;
}
.topbar_headingtxt2new {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-top:5px;
	text-align: center;
}
.topbar_headingtxt3 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-top:3px;
	padding-right:5px;
}
.topbar_headingtxtnew4 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding-top:3px;
	padding-right:5px;
}
/**************************Zahoor(5Dec2011)*********************/
.topbar_headingtxtrednew4 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#43280c;
	padding-top:3px;
	padding-right:5px;
}
/***********************************************************/
.topbar_headingtxtredd {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#43280c;
	padding-top:3px;
}
.topbar_headingtxtred {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#43280c;
	padding-top:3px;
}
.heading_bg {
	margin:0px auto;
	width:972px;
	height:26px;
	background-image: url(../images/heading_bg.gif);
	background-repeat: no-repeat;
}
.tiltletxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#43280c;
}
.login_bg {
	margin:0px auto;
	width:580px;
	height:250px;
	background-image: url(../images/login_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.logintxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	color:#43280c;
	padding-right:10px;
	text-align:right;
}
INPUT.logginfield {
	width:200px;
	height:18px;
	border: 1px solid #b99b75;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
INPUT.logginfield:focus {
	width:200px;
	height:18px;
	border: 1px solid #ffa11c;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:#fff url(../images/fieldshadow.png) repeat-x center bottom;
}
.clickbtnmain {
	padding-right:151px;
}
.clickherebtn input {
	width:78px;
	height:24px;
	background:transparent url(../images/clickhere_btn.png) no-repeat left top;
	display: block;
	color: #000;
	border: 0;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 11px;
	padding-bottom:0px;
	margin: 0;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}

.clickherebtn input:hover {
	color: #fff;
	background:transparent url(../images/clickhere_btn.png) no-repeat right top;
}

.detailsmain {
	margin:0px auto;
	width:700px;
}
.left_top {
	background-image: url(../images/left_top.gif);
	background-repeat: no-repeat;
	background-position: left 5px;	
}
.right_top {
	background-image: url(../images/right_top.gif);
	background-repeat: no-repeat;
	background-position: right 5px;	
}
.center_middle_top {
	background-image: url(../images/center_middle_top.gif);
	background-repeat: repeat-x;
	background-position: center 5px;
}
.detailstxtheading {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#43280c;
	width:100px;
	background-color: #FFF;
	text-transform:uppercase;
	margin-left:10px;
	padding:0px 0px;
}
.detailstxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#333;
	padding-left:25px;
	padding-right:25px;
}
.bottom_bg {
	margin:0px auto;
	width:982px;
	height:9px;
	background-image: url(../images/bottom_bg.png);
	background-repeat: no-repeat;
}
.footerbg {
	margin:4px auto;
	width:982px;
	height:33px;
	background-image: url(../images/footer_bg.png);
	background-repeat: no-repeat;
	padding-top:4px;
}
.culistan_footer {
	margin:0px;
	padding:0px 10px;
}
.footertxt {
	font:normal 12px Tahoma, Geneva, sans-serif;
	text-align:left;
	color:#43280c;
	padding-bottom:3px;
}
.btnmain {
	margin:0px;
}
.bttntxt1 a{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	color:#FFF;
	padding:0px 20px;
	text-decoration:none;
	text-transform:uppercase;
}
.bttntxt1 a:hover{
	color:#ffebca;
	text-decoration:underline;
}
.bttntxt1go a{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	color:#FFF;
	padding:0px 5px;
	text-decoration:none;
	text-transform:uppercase;
}
.bttntxt1go a:hover{
	color:#ffebca;
	text-decoration:underline;
}
.menubgg {
	margin:0px auto;
	width:972px;
}
.menubtn a{
	width:226px;
	height:23px;
	padding-top:5px;
	padding-left:25px;
	background-image: url(../images/menu_btn.gif);
	background-repeat: no-repeat;
	text-decoration:none;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	color:#FFF;
	text-transform:uppercase;
}
.menubtn a:hover{
	background-position: 0px -28px;
	color:#000;
}
.menubtntxt a{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	color:#FFF;
	padding:0px 40px;
	text-decoration:none;
	text-transform:uppercase;
}
.menubtntxt a:hover{
	color:#000;
	text-decoration:underline;
}
.txt1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#54472a;
	padding-left:10px;
}
/**************************Zahoor(29Nov2011)***********************/
.txt1Red {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:red;
	padding-left:10px;
}
/*******************************************************************/
.txt2 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#54472a;
}
.txt3 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#54472a;
	padding:5px;
}
.txt4 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#54472a;
}
.fillbor58 {
	border-left: 1px solid #a08b5b;
	border-right: 1px solid #a08b5b;
	border-bottom: 1px solid #a08b5b;
}
table .fillbor1{
	border-collapse:collapse;
}
.fillbor1 td{
	border: 1px solid #a08b5b;
}
.HATSFIELDTABLE td{
	border:none;
}
.fillbar {
	border-top: 1px solid #b99b75;
	border-left: 1px solid #b99b75;
	border-bottom: 1px solid #b99b75;
}
.fillbar2 {
	border-top: 1px solid #b99b75;
	border-left: 1px solid #b99b75;
	border-bottom: 1px solid #b99b75;
	padding:0px 0px 0px 3px;
}
.fillbarnew {
	border: 1px solid #b99b75;
	/*border-top: 1px solid #b99b75;
	border-right: 1px solid #b99b75;
	border-bottom: 1px solid #b99b75;*/
	background:#fffcf5;
}

/*Tables Start*/
.oddRowdd {
	background-color:#8b794f;
	color:#fff;
	font:bold 12px Tahoma, Geneva, sans-serif;
}
.oddRowdd td {
	padding:3px;
}
.leftline {
	border-left:1px solid #c7c7c7;
	
}
.leftline2 {
	border-left:1px solid #FFF;
}
.evenRowd {
	background-color:#ededed;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.evenRowd td {
	padding:2px;
}
.oddRowd {
	background-color:#f7f7f7;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.oddRowd td {
	padding:2px;
}


.Rowd0 {
	background-color:#ededed;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.Rowd0 td {
	padding:2px;
}
.Rowd1 {
	background-color:#f7f7f7;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.Rowd1 td {
	padding:2px;
}

.tableRowClickEffect1d{
	background-color:#a08b5b;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}
.tableRowClickEffect1d td {
	padding:2px;
}
a.evenRownewone {
	color:#000;
	font-size:13px;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	text-decoration: none;
	white-space: pre;
	background-color: transparent;
	border-collapse: collapse;
	padding-left:50px;
	padding-right:50px;
}
a.evenRownewone:hover {
	color:#fff;
	text-decoration: none;
	background-color: #b67328;
}


#linksArea table {
	padding: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0px;
}
#linksArea tr {
	padding: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0px;
}
#linksArea td {
	padding-top: 0px;
	padding-bottom: 0px;
	border-collapse: collapse;
	border: none;
	margin: 0px;
	height: 20px;
	text-align: left;
}
.evenRownewone2 {
	background-image: url(../images/rowbg.gif);
	background-repeat: repeat-y;
	background-position: center top;
	width: 710px;
	
}

/*Tables End*/
.cotactnametxtfild {
	background-image:url(../images/contactus-fieldrpt.gif);
	background-repeat:repeat-x;
	color:#2F4E6F;
	font-family:Tahoma,Geneva,sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:20px;
	padding-left:5px;
	text-align:left;
	vertical-align:middle;
}
.fieldtxt1 {
	width:30px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt2 {
	width:50px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt3 {
	width:70px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt4 {
	width:100px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt04 {
	width:90px;
    color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px  #b99b75;
}
.fieldtxt04_2 {
	width:90px;    
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px  #b99b75;
}

.fieldtxt004 {
	width:50px;
    color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px  #b99b75;
}

.fieldtxt004_2 {
	width:50px;    
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px  #b99b75;
}


.fieldtxt5 {
	width:150px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt6 {
	width:200px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt7 {
	width:250px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt07 {
	width:200px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxt8 {
	width:300px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
/**********************************Zahoor(23Nov2011)******************************/
.fieldtxt9 {
	width:400px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
/*********************************************************************************/
.fieldtxtfull {
	width:600px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.linsprtd {
	height:2px;
	background-color:#97885f;
}
.fontleftxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
	color:#333;
	font-weight:bold;
}
.redtxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	color:#900;
	text-align:center;
	padding:5px;
}
/*new*/
.screenshowtxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#000;
	text-decoration:underline;
	width:180px;
	cursor:pointer;
}
.screenshowtxt a{
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#00F;
	text-decoration:underline;
	width:180px;
}
.screenshowtxt a:hover{
	color:#F00;
}
.screenshowtxt2 a{
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-decoration:none;
	width:180px;
}
/*new*/
.screenimg {
	border: 8px ridge #ffd38c;
}

/*Table*/
.evenRow {
	cursor:pointer;
	background-color:#ededed;
	color:#333;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.evenRow td {
	padding:0px 0px;
}
.oddRow {
	background-color:#f7f7f7;
	color:#333;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.oddRow td {
	padding:0px 0px;
}
.tableRowClickEffect1{
	background-color:#a08b5b;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}
.tableRollOverEffect1{
	background-color:#a08b5b;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}
/*Table*/
textarea, input, select{ outline:none;}
/*INPUT:focus {
	border: 2px solid #fdad1d;
}*/
INPUT.testfiled {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #75736e;
	border-right-color: #f2f0ee;
	border-bottom-color: #f2f0ee;
	border-left-color: #75736e;
}
INPUT.testfiled:focus {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b8762b;
	border-right-color: #fdad1d;
	border-bottom-color: #fdad1d;
	border-left-color: #b8762b;
}
.container {
	margin:0px;
}
.next_btn a{
	float:right;
	width:34px;
	height:24px;
	background:transparent url(../images/next_btn.gif) no-repeat center top;
	margin-right:5px;
}
.prev_btn a{
	float:right;
	width:34px;
	height:24px;
	background:transparent url(../images/prev_btn.gif) no-repeat center top;
	margin-right:5px;
}
.next_btn a:hover{
	float:right;
	width:34px;
	height:24px;
	background:transparent url(../images/next_btn.gif) no-repeat 0px -24px;
	margin-right:5px;
}
.prev_btn a:hover{
	float:right;
	width:34px;
	height:24px;
	background:transparent url(../images/prev_btn.gif) no-repeat 0px -24px;
	margin-right:5px;
}
.next_btndisable {
	float:right;
	width:34px;
	height:24px;
	background:transparent url(../images/next_btn.gif) no-repeat 0px -48px;
	margin-right:5px;
}
.prev_btndisable {
	float:right;
	width:34px;
	height:24px;
	background:transparent url(../images/prev_btn.gif) no-repeat 0px -48px;
	margin-right:5px;
}

#parent {  
	width: 615px;  
	border: solid 1px #aaa;  
	text-align: center;  
	font-size: 20px;  
	letter-spacing: 35px;  
	whitewhite-space: nowrap;  
	line-height: 12px;  
	overflow: hidden;  
}  

.child {  
	width: 100px;  
	height: 100px;  
	border: solid 1px #ccc;  
	display: inline-block;  
	vertical-align: middle; 
	margin: 0 0px 0 20px; 
}
.tst {
	font-family:"Courier New", Courier, monospace;
}

/*July 13 2010*/
.menumainbg {
	height:25px;
	/*background-image: url(../images/topbar_heading.gif);
	background-repeat: repeat-x;*/
	background:#b3a075;
	border-top:1px solid #b3a075;
	border-bottom:1px solid #b3a075;
}
.heading_bgd {
	margin:0px auto;
	width:972px;
}
.topbar_headingtxtrad {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:red;
	padding-top:3px;
}
/***********************Zahoor(23Nov2011)**********************/
.topbar_headingtxt{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;	
	color:black;
	padding-top:3px;
}
/*****************************************************************/
#topcontent {
	margin: 0px;
	
}
#loadingimgtop {
	margin:0px auto;
	width: 975px;
	height: 500px;
	background-color: #FFF;
	background-image: url(../images/body-contentrpt.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
#loadingimg{
	margin: 0px auto;
    height:100px;
    width:100px;
}

* html #loadingimgd { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
.errorlogin {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:red;
	padding-right:144px;
}
.indicator {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
	padding-top: 10px;
	float: left;
}
.red {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
.red2 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding-left: 7px;
	padding-right: 5px;
	white-space: nowrap;
}
/*Oct 21 2010*/
.topmenumain2 {
	padding:0px 5px 0px 0px;
	margin:0px;
}
.homebtn3 a{
	width:71px;
	height:21px;
	background:transparent url(../images/home3.png) repeat-x right top;
	text-decoration:none;
	text-indent:-9000px;
	display:block;
	cursor:pointer;
}
.homebtn3 a:hover{
	width:71px;
	height:21px;
	background:transparent url(../images/home3.png) repeat-x left top;
	text-decoration:none;
}
.signoffbtn3 a{
	width:86px;
	height:21px;
	background:transparent url(../images/signoff3.png) repeat-x right top;
	text-decoration:none;
	text-indent:-9000px;
	display:block;
	cursor:pointer;
}
.signoffbtn3 a:hover{
	width:86px;
	height:21px;
	background:transparent url(../images/signoff3.png) repeat-x left top;
	text-decoration:none;
}
.topbarline {
	background:#8c7a52;
	height:1px;
	margin:0px 0px 2px 0px;
}
.evenRow {
	background-color:#ededed;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.evenRow:hover {
	background-color:#a08b5b;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.evenRow td {
	padding:2px;
}
.oddRow {
	background-color:#f7f7f7;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.oddRow:hover {
	background-color:#a08b5b;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.oddRow td {
	padding:2px;
	cursor: pointer;
}
/********************Nov 12 2010****************************/
.detailsmainnew {
	margin:0px auto;
	width:400px;
}
.detailstxtheadingnew {
	font:bold 12px Tahoma, Geneva, sans-serif;
	text-align:center;
	color:#43280c;
	width:130px;
	background-color: #FFF;
	text-transform:uppercase;
	margin-left:10px;
	padding:0;
}
.detailstxtnew {
	font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	color:#43280c;
	padding-left:15px;
	padding-right:15px;
}
.detailstxt a{
	color:#960;
	text-decoration:underline;
}
.detailstxt a:hover{
	color:#960;
	text-decoration:none;
}
.login_bgnew {
	margin:0px auto;
	width:580px;
	height:250px;
	background-image: url(../images/login_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.clickbtnmainnew {
	padding-right:20px;
}
.errortxtred {
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#F00;
	text-align:left;
	padding:3px;
}

.evenRownew6 {
	background-color:#ededed;
	color:#000;
	font:bold 12px Arial, Helvetica, sans-serif;
	/*cursor:pointer;*/
}
.evenRownew6:hover {
	background-color:#a08b5b;
	color:#fff;
}
.evenRownew6:active {
	background-color:#a08b5b;
	color:#fff;
}
.evenRownew6 td {
	padding:2px;
}
.oddRownew6 {
	background-color:#f7f7f7;
	color:#000;
	font:bold 12px Arial, Helvetica, sans-serif;
	/*cursor:pointer;*/
}
.oddRownew6:hover {
	background-color:#a08b5b;
	color:#fff;
}
.oddRownew6:active {
	background-color:#a08b5b;
	color:#fff;
}
.oddRownew6 td {
	padding:2px;
}

.txt1order {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#54472a;
	background:#FFF;
}
.txt1order2 {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#54472a;
	padding: 0 7px;
	background:#FFF;
}
.txt1order3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#7a1111;
	padding: 0 7px;
	background:#FFF;
	line-height:21px;
}
.fieldtxtfullnewone1 {
	width:300px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	text-align:left;
	vertical-align:middle;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxtfullnewone2 {
	width:420px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	text-align:left;
	vertical-align:middle;
	height:15px;
	border: 1px solid #b99b75;
}
.fieldtxtfullnewone3 {
	width:350px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	text-align:left;
	vertical-align:middle;
	height:15px;
	border: 1px solid #b99b75;
}
textarea.fieldtxtfullr {
	width:700px;
	background:#fff url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	height:40px;
	border:1px solid #a08b5b;
	overflow:visible;
}
hr {
  margin:2px 0;
  padding:0;
  border: 1px solid #97885f;
}
.evenRownew5 {
	background-color:#ededed;
	color:#000;
	font:bold 12px Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.evenRownew5:hover {
	background-color:#a08b5b;
	color:#fff;
}
.evenRownew5 td {
	padding:2px;
}
.oddRownew5 {
	background-color:#f7f7f7;
	color:#000;
	font:bold 12px Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.oddRownew5:hover {
	background-color:#a08b5b;
	color:#fff;
}
.oddRownew5 td {
	padding:2px;
}
.line {
	border-top: 1px solid #97885f;
}
.popupmain56 {
	margin:0px auto;
	width:600px;
	height:400px;
}
.popupmain57 {
	margin:0px auto;
	width:420px;
	height:350px;
}
.bottom_bg2 {
	margin:0px auto;
	width:982px;
	height:9px;
	background: url(../images/bottom_bg2.png) no-repeat;
}
.menubgg56 {
	margin:0px auto;
	width:980px;
	height:441px;
	background: url(../images/popupbg.png) no-repeat;
}
INPUT.plorderfield1 {
	width:95px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield2 {
	width:200px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield3 {
	width:46px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield4 {
	width:66px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield5 {
	width:46px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield6 {
	width:36px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield7 {
	width:100px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfield8 {
	width:160px;
	height:18px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
.leftlinepad {
	text-align:left;
	padding:0 0 0 74px;
}
.leftlinepad2 {
	text-align:left;
	padding:0 0 0 125px;
}
.leftlinepad299 {
	text-align:right;
	padding:0 0 0 30px;
}
.leftlinepad2991 {
	text-align:left;
	padding:0 0 0 30px;
}
.leftlinepad2992 {
	text-align:center;
	padding:0 0 0 30px;
}

.leftlinepad3top {
	text-align:left;
	padding:0 0 0 30px;
}
.leftlinepad3 {
	text-align:left;
	padding:0 0 0 33px;
}
.leftlinepad4top {
	text-align:left;
	padding:0 0 0 124px;
}
.leftlinepad4 {
	text-align:left;
	padding:0 0 0 126px;
}
.leftlinepad5top {
	text-align:left;
	padding:0 0 0 48px;
}
.leftlinepad5 {
	text-align:left;
	padding:0 0 0 53px;
}
.leftlinepad6top {
	text-align:right;
	padding:0 67px 0 0;
}
.leftlinepad6 {
	text-align:right;
	padding:0 70px 0 0;
}
.leftlinepad7top {
	text-align:left;
	padding:0 0 0 51px;
}
.leftlinepad7 {
	text-align:left;
	padding:0 0 0 53px;
}
.leftlinepad8top {
	text-align:left;
	padding:0 0 0 58px;
}
.leftlinepad9top {
	text-align:left;
	padding:0 0 0 68px;
}
.leftlinepad8 {
	text-align:left;
	padding:0 0 0 53px;
}

.leftlinepad9 {
	text-align:left;
	padding:0 0 0 18px;
}
.leftlinepad10 {
	text-align:right;
	padding:0 22px 0 0;
}
.leftlinepad11 {
	text-align:right;
	padding:0 58px 0 0;
}
.leftlinepad12 {
	text-align:right;
	padding:0 38px 0 0;
}
.leftlinepad13 {
	text-align:left;
	padding:0 0 0 58px;
}
.leftlinepad14 {
	text-align:right;
	padding:0 48px 0 0;
}
.leftlinepad15 {
	text-align:right;
	padding:0 38px 0 0;
}
.leftlinepad16 {
	text-align:right;
	padding:0 38px 0 0;
}
.leftlinepad17 {
	text-align:right;
	padding:0 68px 0 0;
}
.leftlinepad18 {
	text-align:right;
	padding:0 78px 0 0;
}
.leftlinepad19 {
	text-align:center;
	padding:0 0 0 0px;
}
.fieldtxt585 {
	width:163px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	height:15px;
	border: 1px solid #b99b75;
}
.allbtn {
	/*margin:5px 0 5px 5px;*/
}
.allbtn a{
	/*margin:0px auto;
	width:200px;*/
	float:left;
	height:13px;
	background:transparent url(../images/allbtnbgimg.png) repeat-x center -24px;
	color:#000;
	display:block;
	text-decoration:none;
	font:bold 12px Arial, Helvetica, sans-serif;
	padding:5px 15px;
	text-transform:uppercase;
	text-align:center;
	display:block;
	white-space:nowrap;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border:1px solid #6a5c3d;
}
.allbtn a:hover{
	/*width:49px;
	height:18px;*/
	background:transparent url(../images/allbtnbgimg.png) repeat-x center top;
	color:#fff;
	display:block;
	text-decoration:none;
	border:1px solid #8e6842;
}
.topbarr {
	height:420px;
}
.allbtn22 {
	/*width:50px;*/
	height:24px;
	background:transparent url(../images/allbtnbgimg.png) repeat-x center -24px;
	color:#000;
	display:block;
	text-decoration:none;
	font:bold 12px Arial, Helvetica, sans-serif;
	padding:5px 10px;
	text-transform:uppercase;
	text-align:center;
	display:block;
	white-space:nowrap;
	border:1px solid #6a5c3d;
	cursor: pointer;
}
.allbtn22:hover {
	background:transparent url(../images/allbtnbgimg.png) repeat-x center top;
	color:#fff;
	display:block;
	text-decoration:none;
	border:1px solid #8e6842;
}
.allbtn23 {
	border:0px solid #6a5c3d;
	background:transparent url(../images/calendar.gif) no-repeat;
	color:#000;
	cursor: pointer;
	text-indent: -9000px;
}
/*.allbtn23:hover {
	border:1px solid #8e6842;
	background:transparent url(../images/allbtnbgimg.png) repeat-x center top;
	color:#fff;
}*/
/*************************Dec302010***************************/
.linepad1 {
	text-align:right;
	padding:0 40px 0 0;
}
.linepad2 {
	text-align:left;
	padding:0 0 0 20px;
}
.linepad3 {
	text-align:left;
	padding:0 0 0 40px;
}
.linepad4 {
	text-align:left;
	padding:0 0 0 34px;
}
.linepad5 {
	text-align:right;
	padding:0 25px 0 0;
}
.linepad6 {
	text-align:left;
	padding:0 0 0 108px;
}
.linepad7 {
	text-align:left;
	padding:0 0 0 166px;
}
.linepad8 {
	text-align:left;
	padding:0 0 0 31px;
}
.linepad9 {
	text-align:right;
	padding:0 25px 0 0;
}
.linepad10 {
	text-align:right;
	padding:0 31px 0 0;
}
.linepad11 {
	text-align:right;
	padding:0 15px 0 0;
}
.popupmainnewoone {
	margin:0px auto;
	width:465px;
	height:400px;
}
.fieldtxtfullnewone_3 {
	width:293px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	text-align:left;
	vertical-align:middle;
	height:15px;
	border: 1px solid #b99b75;
}
/*************************Dec302010***************************/
.linepad1 {
	text-align:right;
	padding:0 40px 0 0;
}
.linepad2 {
	text-align:left;
	padding:0 0 0 20px;
}
.linepad3 {
	text-align:left;
	padding:0 0 0 40px;
}
.linepad4 {
	text-align:left;
	padding:0 0 0 34px;
}
.linepad5 {
	text-align:right;
	padding:0 25px 0 0;
}
.linepad6 {
	text-align:left;
	padding:0 0 0 108px;
}
.linepad7 {
	text-align:left;
	padding:0 0 0 166px;
}
.popupmainnewoone {
	margin:0px auto;
	width:465px;
	height:400px;
}
.fieldtxtfullnewone_3 {
	width:274px;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
	color:#000;
	font:normal 12px Tahoma,Geneva,sans-serif;
	text-align:left;
	vertical-align:middle;
	height:15px;
	border: 1px solid #b99b75;
}

/********Feb 11 2011********/
.txt1orderreq {
	font:bold 13px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#C00;
	padding:5px;
	background:#FFF;
}
INPUT.plorderfieldphone {
	width:46px;
	height:15px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfieldphone2 {
	width:148px;
	height:15px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
INPUT.plorderfieldemail {
	width:448px;
	height:15px;
	border: 1px solid #b99b75;
	background:url(../images/contactus-fieldrpt.gif) repeat-x center bottom;
}
.srick {
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#C00;
}
.txt1orderreq2 {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#54472a;
	padding: 0 7px;
	background:#FFF;
}
.errortxtred09 {
	font:bold 10px Tahoma, Geneva, sans-serif;
	color:#F00;
	text-align:right;
	padding:3px 10px 5px 0;
}
.txtreg {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	color:#54472a;
	padding:10px 5px;
}
.linepad_01 {
	text-align:left;
	padding:0 0 0 56px;
}
.linepad_01head {
	text-align:left;
	padding:0 0 0 56px;
}
.linepad_02 {
	text-align:left;
	padding:0 0 0 108px;
}
.linepad_03 {
	text-align:right;
	padding:0 141px 0 0;
}
.PlaceOrderbg {
	width:980px;
	height:441px;
	background:transparent url(../images/PlaceOrder.png) no-repeat;
}
.txtplace {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	color:#54472a;
	padding-left:10px;
}
.claimsentrybg {
	width:980px;
	height:441px;
	background:transparent url(../images/ClaimEntry-popup.png) no-repeat;
}
.disabledButton {
	width:58px;
	height:24px;
	background:transparent url(../images/Disbutton_next.png) no-repeat;
	
}
.leftline09 {
	border-left:1px solid #c7c7c7;
	border-bottom:2px solid #c7c7c7;
	text-align: right; 
}
.leftline01 {
	border-bottom:2px solid #c7c7c7;
	text-align: right; 
}

/*************Aamir Nov 15 2011*****************/
.barhead { background-color:#8b794f; color:#fff; font:bold 12px Tahoma, Geneva, sans-serif; }
.barhead td { padding:3px 10px; }
.evenRowbar { background-color:#ededed; color:#000; font:bold 12px Arial, Helvetica, sans-serif; cursor:pointer; }
.evenRowbar:hover { background-color:#a08b5b; color:#fff; }
.evenRowbar td { padding:2px 10px; }
.oddRowbar { background-color:#f7f7f7; color:#000; font:bold 12px Arial, Helvetica, sans-serif; cursor:pointer; }
.oddRowbar:hover { background-color:#a08b5b; color:#fff; }
.oddRowbar td { padding:2px 10px; }

.evenRowbar1 { background-color:#e1dbcc; color:#8b794f; font:bold 13px Tahoma, Geneva, sans-serif; cursor:pointer; }
.evenRowbar1 td { padding:5px 10px; border-top:1px solid #c7c7c7; border-bottom:1px solid #a08b5b; }

.oddRowbar2 { background-color:#f7f7f7; color:#000; font:bold 12px Arial, Helvetica, sans-serif; }
.oddRowbar2 td { padding:2px 10px; }
.evenRowbar2 { background-color:#ededed; color:#000; font:bold 12px Arial, Helvetica, sans-serif;  }
.evenRowbar2 td { padding:2px 10px; }
.evenRowbar3 { background-color:#e1dbcc; color:#8b794f; font:bold 13px Tahoma, Geneva, sans-serif; }
.evenRowbar3 td { padding:5px 10px; border-top:1px solid #c7c7c7; border-bottom:1px solid #a08b5b; }

/**********************Aamir Nov 18 2011****************/
.leftpadbar1 {
    padding: 0 66px 0 0;
    text-align: right;
}
.leftpadbar2 {
    padding: 0 0 0 54px;
    text-align: left;
}

/**********************Zahoor Nov 21 2011****************/
.anchorAsText{
	text-decoration: none;
	color: black;  
}

/**********************Aamir Jan 06 2012****************/
.padd1 {width:138px;}
.padd2 {width:119px;}
.padd3 {width:209px;}
.padd4 {width:186px;}

.padd1t {width:139px;}
.padd2t {width:121px;}
.padd3t {width:211px;}
.padd4t {width:188px;}

/*************Aamir FEB 20 2012*****************/
.newtable {border-collapse:collapse;}
.newtable th {background:#8b794f; color:#fff; font:bold 12px Tahoma, Geneva, sans-serif; padding:2px 5px; border-right:1px solid #fff; border-left:1px solid #fff; border-top:1px solid #fff; border-bottom:1px solid #b3a075;}
.evenRowtable {background:#ededed; color:#000; font:bold 12px Arial, Helvetica, sans-serif; cursor:pointer;}
.evenRowtable:hover {background-color:#a08b5b; color:#fff;}
.evenRowtable td {padding:2px 5px; border:1px solid #ccc;}
.oddRowtable {background-color:#f7f7f7; color:#000; font:bold 12px Arial, Helvetica, sans-serif; cursor:pointer;}
.oddRowtable:hover {background:#a08b5b; color:#fff;}
.oddRowtable td {padding:2px 5px; border:1px solid #ccc;}

table.newtable2{border-collapse:collapse;}
.newtable2 td{border: 1px solid #a08b5b; padding:2px 7px;}
.newtable2 td.bar {font:bold 12px Arial, Helvetica, sans-serif; color:#54472a; background:#fff;}

/***********Inputs Fields eef5fb*************/
INPUT { height:15px; border: 1px solid #b3a075; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; padding:0 5px; font: normal 11px 'Ubuntu', arial, serif; background:#f6f9fb url(../images/fieldshadow.png) repeat-x center bottom; }
INPUT:hover { border: 1px solid #8b794f; }
INPUT:focus { border: 1px solid #ffa11c; background:#fff url(../images/fieldshadow.png) repeat-x center bottom; }

INPUT.field1 { width:10px; }
INPUT.field2 { width:20px; }
INPUT.field3 { width:30px; }
INPUT.field4 { width:40px; }
INPUT.field5 { width:50px; }
INPUT.field6 { width:60px; }
INPUT.field7 { width:70px; }
INPUT.field8 { width:80px; }
INPUT.field9 { width:90px; }
INPUT.field10 { width:100px; }
INPUT.field11 { width:110px; }
INPUT.field12 { width:120px; }
INPUT.field13 { width:130px; }
INPUT.field14 { width:140px; }
INPUT.field15 { width:150px; }
INPUT.field16 { width:160px; }
INPUT.field17 { width:170px; }
INPUT.field18 { width:180px; }
INPUT.field19 { width:190px; }
INPUT.field20 { width:200px; }
INPUT.field21 { width:210px; }
INPUT.field22 { width:220px; }
INPUT.field23 { width:230px; }
INPUT.field24 { width:240px; }
INPUT.field25 { width:250px; }
INPUT.field26 { width:260px; }
INPUT.field27 { width:270px; }
INPUT.field28 { width:280px; }
INPUT.field29 { width:290px; }
INPUT.field30 { width:300px; }
INPUT.field31 { width:310px; }
INPUT.field32 { width:320px; }
INPUT.field33 { width:330px; }
INPUT.field34 { width:340px; }
INPUT.field35 { width:350px; }
INPUT.field36 { width:360px; }
INPUT.field37 { width:370px; }
INPUT.field38 { width:380px; }
INPUT.field39 { width:390px; }
INPUT.field40 { width:400px; }
INPUT.field41 { width:410px; }
INPUT.field42 { width:420px; }
INPUT.field43 { width:430px; }
INPUT.field44 { width:440px; }
INPUT.field45 { width:450px; }
INPUT.field46 { width:460px; }
INPUT.field47 { width:470px; }
INPUT.field48 { width:480px; }
INPUT.field49 { width:490px; }
INPUT.field50 { width:500px; }

SELECT {height:18px; border: 1px solid #b3a075; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; font: bold 11px arial, serif; outline:none;}
SELECT:hover {border: 1px solid #8b794f; outline:none;}
SELECT:focus {border: 1px solid #ffa11c; background:#fff url(../images/fieldshadow.png) repeat-x center bottom; outline:none;}

SELECT.field1 {width:10px;}
SELECT.field2 {width:20px;}
SELECT.field3 {width:30px;}
SELECT.field4 {width:60px;}
SELECT.field5 {width:50px;}
SELECT.field6 {width:75px;}
SELECT.field9 {width:90px;}
SELECT.field12 {width:120px;}
SELECT.field20 {width:200px;}

.mainIPAD {}

.smpleord1 {width:99px;}
.smpleord2 {width:192px;}
.smpleord3 {width:70px;}
.smpleord4 {width:78px;}
.smpleord5 {width:50px;}
.smpleord6 {width:309px;}

.smpleord2_2 {width:194px;}
.smpleord4_2 {width:80px;}

.shiptocom1 {width:213px;}
.shiptocom2 {width:346px;}

.updateuser1 {width:63px;}
.updateuser2 {width:190px;}
.updateuser3 {width:254px;}

.exportdata1 {border: 1px solid #8b794f; background:#d1c4a2; margin:-13px 0 0 22px; padding:0 5px; height:28px; position: absolute;}
.exportdata2 {border: 1px solid #8b794f; background:#d1c4a2; margin:-13px 0 0 16px; padding:0 5px; height:28px; position: absolute;}
