/* Information on  stylesheets and templates is available in   *
 * the User's and Administrator's Guide                        */
@import url(commontheme.css);

BODY {
	background-color: black;
	color: white;
	font-family: arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

TD, P, INPUT, A, SELECT, TH {
	font-family:  arial, tahoma, helvetica, sans-serif,;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
	color: white;
}

TT {
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

/* interactive control classes */
INPUT {
	border-width: 1px;
	border-color: #555555;
	border-style: solid;
	background-color: black;
	color: white;
}

INPUT.HATSBUTTON {	
	background-color: #092509;
	color: lime;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

INPUT.HATSTABLEBUTTON {	
	background-color: #d0d0d0;
	color: black;
	white-space: pre;
}

INPUT.HATSCHECKBOX {
	border-width: 0px;
	border-color: black;
	border-style: none;
}

INPUT.HATSINPUT {
	letter-spacing: normal;
	word-spacing: normal;
}

INPUT.HATSRADIOBUTTON {
	border-width: 0px;
	border-color: black;
	border-style: none;
}


SELECT.HATSDROPDOWN {
	border-width: 0px;
	border-color: black;
	border-style: none;
	background-color: black;
	color: white;
	font-family: arial, tahoma, helvetica, sans-serif;	
}

/* static text classes */

.HATSBUTTONTABLECELL {
	padding: 4px;
}

/* Table style classes */
TABLE.HATSTABLE {
	border-width: 1px;
	border-color: #666666;
	border-style: solid;
	background-color: black;
	border-collapse: collapse;
}

.HATSTABLEHEADER {
	background-color: #006f00;
	color: white;
	font-weight: bold;
	text-align: center;
	
	border-width: 1px;
	border-color: #666666;
	border-style: solid;
	padding: 4px;
}

.HATSTABLEEVENROW {
	background-color: black;
	color: white;
}

.HATSTABLEODDROW {
	background-color: #333333;
	color: white;
}

TD.HATSTABLECELL {
	padding: 4px;
	
	border-width: 1px;
	border-color: #666666;
	border-style: solid;
}

TD.HATSTABLECAPTIONCELL {
	border-width: 1px;
	border-color: #666666;
	border-style: solid;
	padding: 4px;
	
}

TABLE.HATSFIELDTABLE {
	white-space: normal;
	letter-spacing: normal;
}

/* Field style classes */
.HATSFIELD {
	font-family: courier new, monospace;;
	
	color: white;
}

.HDF {
	font-family: courier new, monospace;
	
	color: gray;
}

/* links */

A {
	color: yellow;
}

A.HATSLINK:link, A.HATSLINK:visited {
	
	color: lime;
}

A.HATSLINK:hover {
	color: #88fe41;
}

A.HATSPROTLINK:link, A.HATSPROTLINK:visited {	
	color: lime;
	text-decoration: none;
}

A.HATSPROTLINK:hover {
	color: #88fe41;
	text-decoration: underline;
}

/* popup classes */
DIV.HATSPOPUP {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 150px;
	height: 170px;
	overflow: auto;
	border: solid 1px white;
	background-color: #444444;
	/*-moz-opacity: .46; only works in ns7, moz */
	filter: alpha(opacity=90, style=0);
	z-index: 5;
	/*-moz-border-radius: 6%; */
}

TABLE.HATSPOPUPTABLE {
	background-color: #444444;
	border: 0px;
	width: 100%;
}

TH.HATSPOPUPTH {
	background-color: #666666;
	text-align: right;
}

A.HATSPOPUPITEMLINK:link, A.HATSPOPUPITEMLINK:visited {
	color: lime;
}

A.HATSPOPUPITEMLINK:hover {
	color: yellow
}

/* Style Definition for all widgets with color mapping enabled (Hcolor)  */
/* These color map the terminal fields foreground colors to these .html  */
/* color and attributes.                                                 */
.HBLANK, input.HBLANK {
	color: #00ff00;
	white-space: normal;
	letter-spacing: normal;
}

.HBLUE, input.HBLUE {
	color: #3c9dff;
	white-space: normal;
	letter-spacing: normal;	
}

.HGREEN, input.HGREEN {
	color: #00ff00;
	white-space: normal;
	letter-spacing: normal;	
}

.HCYAN, input.HCYAN {
	color: cyan;
	white-space: normal;
	letter-spacing: normal;	
}

.HRED, input.HRED {
	color: red;
	white-space: normal;
	letter-spacing: normal;	
}

.HMAGENTA, input.HMAGENTA {
	color: magenta;
	white-space: normal;
	letter-spacing: normal;	
}

.HBROWN, input.HBROWN {
	color: yellow;
	white-space: normal;
	letter-spacing: normal;	
}

.HWHITE, input.HWHITE {
	color: #eeeeee;
	white-space: normal;
	letter-spacing: normal;	
}

.HGRAY, input.HGRAY {
	color: #a0a0a4;
	white-space: normal;
	letter-spacing: normal;	
}

.HLBLUE, input.HLBLUE {
	color: #4040c0;
	white-space: normal;
	letter-spacing: normal;	
}

.HLGREEN, input.HLGREEN {
	color: #40c040;
	white-space: normal;
	letter-spacing: normal;	
}

.HLCYAN, input.HLCYAN {
	color: #40c0c0;
	white-space: normal;
	letter-spacing: normal;	
}

.HLRED, input.HLRED {
	color: #ff4040;
	white-space: normal;
	letter-spacing: normal;	
}

.HLMAGENTA, input.HLMAGENTA {
	color: #c040ff;
	white-space: normal;
	letter-spacing: normal;	
}

.HLYELLOW, input.HLYELLOW  {
	color: #c0c000;
	white-space: normal;
	letter-spacing: normal;	
}

.HHWHITE, input.HHWHITE {
	color: white;
	white-space: normal;
	letter-spacing: normal;	
}

/* Host keypad link */
A.HostKeyLink {
	color: lime;
}

/* Application keypad link */
A.ApplicationKeyLink {
	color: lime;	
}

/* Application button */
INPUT.ApplicationButton {
	background-color: #092509;
	color: lime;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

/* Host keypad function key button */
INPUT.HostPFKey {
	background-color: #092509;
	color: lime;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	width: 4em;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

/* Host keypad application key button */
INPUT.HostButton {
	background-color: #092509;
	color: lime;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	width: 8em;	
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

/* Application keypad button hover */
INPUT.ApplicationButton:hover {
	border-color: white;
}

/* Host keypad function key button hover */
INPUT.HostPFKey:hover {
	border-color: white;
}

/* Host keypad application key button hover */
INPUT.HostButton:hover {
	border-color: white;
}

/* keypad dropdowns */
select.ApplicationDropDown, select.HostDropDown {
	background-color: #092509;
	color: lime;
	font-family: arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

/* Host keypad table */
TABLE.HostKeypad {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: black;	
}

.HostKeypad {
	text-align: center;
}

/* focus indicator classes used for portlets */
.HATSFOCUSED {
	border: thin solid lime;
}

.HATSUNFOCUSED { }

/* Disconnect, error, busy page style classes */
.HATSSTATUSHEADER {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	color: white;
	background-color: #666666;
	/* For accessibility compliance: change following value to 180% */
	font-size: 18pt;
	font-weight: bold;
}

.HATSSTATUSFOOTER {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	color: white;
	background-color: #444444;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.HATSFOOTERSTATUSHEADER, .HATSFOOTERSTATUSINFO {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.statusArea {
	font-family: arial, tahoma, helvetica, sans-serif;
	margin: auto;
	background-color: black;
	color: white;
}

DIV.statusArea {
	border-color: #7B92F7;
	border-top-style: solid;
	border-top-width: 2px;
}

TABLE.statusArea {
	table-layout: fixed;
	empty-cells: hide;
}

.inputInhibited {
	color:red;
	font: bold;
}

IMG.sslCheck {
	color: #7B92F7;
	background-color: #7B92F7;
}

.HCURSORINDICATOR {
	color: red;
	text-decoration: underline;
	font: bold;
	background-color: yellow;
}

.HF {
	font-family: courier new, monospace;
}
.HATSDROPDOWNLIST {
   background-color: black;
   color: white;
}
