/* Information on  stylesheets and templates is available in   *
 * the User's and Administrator's Guide                        */

body, td {
	font-family:  arial, tahoma, helvetica, sans-serif;
	font-size: 9pt;
}

td {
	padding: 4px;
}

table.calendar {
	border: 1px solid #dddddd;
	border-collapse: collapse;
}

a.visited, a:link {
	color: #54472A;
	text-decoration: none;
}

.month {
	background-color: #8B794F;	
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	height: 1.5em;
	padding: 2px;
	color: white;
}

.year {
	background-color: #8B794F;	
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	height: 1.5em;
	padding: 2px;
	color: white;
}

.dayOfWeek {
	background-color: #bbbbbb;	
	font-weight: bold;
	padding: 2px;
	text-align: center;
}

.day {
/*	font-family: courier new, monospace;*/
	text-align: center;
	font-weight: bold;
	border: 1px solid #dddddd;
	padding: 2px;
	width: 2em;
	height: 1.5em;
}

.focusDay, .link {
	font-family: courier new, monospace;
	text-align: center;
	font-weight: bold;	
	padding: 2px;
	width: 2em;
	height: 1.5em;
	border: 1px solid #dddddd;
	border-bottom: 3px solid #9988ff;	
	background-color: #ffff8a;
}

.focusDefaultDay {
	font-family: tahoma, arial, helvetica,  sans-serif;
	text-align: center;
	font-style: italic;	
	font-weight: bold;	
	border: 1px solid #000000;
	padding: 2px;
	width: 2em;
	height: 1.5em;
	background-color: #c9b587;
}

a:hover {
	text-decoration: underline;
	padding: 2px;
	background-color: #a08b5b;
	color: #fff;
}

a:focus {
	text-decoration: underline;
	padding: 2px;
	line-height: 2px;
	background-color: #ccccff;
}
a:active {
	text-decoration: underline;
	padding: 1px;
	background-color: #ccccff;
}