/* Elements common to all themes */

TABLE.HATSESCROLL {
	background-color: #DDE0EC;
	border: 0px;
	margin: 0px;
	padding: 1px;
	font-size: 15pt; /* not used for text, just sizing */
}

TABLE.HATSESCROLL TD {
	margin: 0px;
	padding: 0px;
	font-size: 15pt; /* not used for text, just sizing */
}

TABLE.HATSESCROLL TD.HATSESCROLLBUTTON {
	background-color: #ECE9D8;
	border: 1px solid #ACA899;
	font-size: 15pt; /* not used for text, just sizing */
}

.HATSEMENUBAR
{
        border: 1px solid gray;
}

.HATSEMENUBAR, .HATSEMENUBAR TD
{
        padding: 0px;
        margin: 0px;
}

.HATSEMENUBAR TD A
{
        padding: 0px 4px 0px 4px;
        margin: 0px;
}

.HATSEMENUBAR, .HATSEMENUBAR A.HATSLINK:link, .HATSEMENUBAR A.HATSLINK:visited
{
        background-color: #ECE9D8;
        color: black;
        text-decoration: none;
}

.HATSEMENUBAR A.HATSLINK:hover
{
        background-color: #ACA899;
        color: black;
        text-decoration: none;
}

.HATSDEFRENDER
{
        font-family: courier new, monospace;
}
