/* Information on  stylesheets and templates is available in   *
 * the User's and Administrator's Guide                        */
@import url(commontheme.css);
@import url(inlineCalendar.css);

/* industry template specific additions to inlineCalendar */
.hatsCalendarCloseBar {
	background:#295d7b url(../images/industry/lvl1nav_bg_normal.jpg) repeat-x;
}

.focusDefaultDay,.day {
	border-right: 1px solid #ded;
}

.focusDay {
	border: 2px solid #bdc;
}

td.focusDay a {
	color: black;
	text-decoration: none;
}
/* end inlineCalendar modifications */

*{
	margin:0;
	padding:0;
}

body {
	background-color:#BDCBCB;
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}


/* Layout & navigation classes */
.COMPANYTITLE {
	color: white;
	padding: 20px;
	font: bold 2em Arial,Helvetica,sans-serif;
	width:792px;
}

#wrapper {
	margin:auto;
	border: 4px solid #85A6C2;
}

#logo {
	text-align:left;
	height:74px;
	background:url(../images/industry/main_logo.jpg) top right no-repeat #73b0cf;
}

#content {
	margin-bottom:35px;
	text-align:left;
	padding:50px 0 10px;
	background-color:#CCDBDB;
	clear:both;
}


#lvl1nav {
	background: #3a7390 url(../images/industry/lvl1nav_bg_normal.jpg) repeat-x;
	width:100%;
	line-height:25px;
	height:25px;
	border-top:1px solid #64A1BF;
	overflow:visible;
	position:relative;
}

#lvl1nav a {
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	font-size: 1.1em;
	white-space: nowrap;
}

#lvl1nav a:hover {
	color: #ddeeff !important;
}

#lvl1nav ul {
	list-style-type:none;
	list-style-image:none;
	margin-left:0px;
}

.lvl1nav_item {
	border-right:1px solid #64A1BF;
}

 #lvl1nav_activeitem,.lvl1nav_item_hover {
	background:url(../images/industry/lvl1nav_bg_over.jpg) repeat-x;
}

.lvl1nav_item_hover a,#lvl1nav_activeitem a {
	color:#26363B !important;
}

.lvl1nav_item,.lvl1nav_item li {
	float:left;
	padding:0 20px;
}

.lvl1nav_item ul {
	display:none;
	background-image:url(../images/industry/lvl2nav_bg_normal.jpg);
	background-repeat: repeat;
	line-height:26px;
	margin-top:2px;
	width:100%;
	-moz-box-shadow: 0px 7px 14px grey;
	-webkit-box-shadow: 0px 7px 14px grey;
	box-shadow: 0px 7px 14px grey;
}

.lvl1nav_item_hover ul {
	clear:both;
	position:absolute;
	left:0;
	top:23px;
	z-index:2 !important;
}

#lvl1nav_activeitem ul {
	clear:both;
	position:absolute;
	display:block;
	left:0;
	top:23px;
}


/* Links */
A.HATSLINK:link,A.HATSLINK:visited,A.ApplicationKeyLink:link,A.ApplicationKeyLink:visited,A.HostKeyLink:link,A.HostKeyLink:visited,a.HATSLINK:active,.calendar a:active,.calendar a:link,.calendar a:visited {
	font-weight:normal;
	text-decoration:underline;
	color:#2E80A0;
}

a.HATSLINK:hover,A.ApplicationKeyLink:hover,A.HostKeyLink:hover,.calendar a:hover,.calendar a:focus {
	text-decoration: underline;
	background-color: #E7F7F7;
}
a.HATSPROTLINK {
	text-decoration: none;
	cursor: default;
}

/* fields */
input.HATSINPUT,input.HF,
input.HLWHITE,input.HWHITE,input.RHWHITE,
input.HLBROWN,input.HBROWN,input.RHBROWN,
input.HLBLUE,input.HBLUE,input.RHBLUE,
input.HLRED,input.HRED,input.RHRED,
input.HLCYAN,input.HCYAN,input.RHCYAN,
input.HLMAGENTA,input.HMAGENTA,input.RHMAGENTA,
input.HLGREEN,input.HGREEN,input.RHGREEN,
input.HLYELLOW,input.HYELLOW,input.RHYELLOW,
input.HLGRAY,input.HGRAY,input.RHGRAY,
input.HLBLANK,input.HBLANK,input.RHBLANK {
	background: #fff url(../images/industry/input_normal_bg.png) repeat-x;
	border: 1px solid #94a4b6;
}

input.HATSINPUT:focus,.HATSFOCUSED,input.HF:focus,
input.HLWHITE:focus,input.HWHITE:focus,input.RHWHITE:focus,
input.HLBROWN:focus,input.HBROWN:focus,input.RHBROWN:focus,
input.HLBLUE:focus,input.HBLUE:focus,input.RHBLUE:focus,
input.HLRED:focus,input.HRED:focus,input.RHRED:focus,
input.HLCYAN:focus,input.HCYAN:focus,input.RHCYAN:focus,
input.HLMAGENTA:focus,input.HMAGENTA:focus,input.RHMAGENTA:focus,
input.HLGREEN:focus,input.HGREEN:focus,input.RHGREEN:focus,
input.HLYELLOW:focus,input.HYELLOW:focus,input.RHYELLOW:focus,
input.HLGRAY:focus,input.HGRAY:focus,input.RHGRAY:focus,
input.HLBLANK:focus,input.HBLANK:focus,input.RHBLANK:focus {
	background: #fff url(../images/industry/input_focused_bg.png) repeat-x;
}

.inputInhibited {
	color: #c00000;
	font: bold;
}

.HDF { /* Disabled field */
	color: #666666;
}

/* Style Definition for all widgets with color mapping enabled (Hcolor)  */
	/* These color map the terminal fields foreground colors to these .html  */
	/* color and attributes.                                                 */
.HLWHITE,input.HLWHITE,.HWHITE,input.HWHITE,
.HLBROWN,input.HLBROWN,.HBROWN,input.HBROWN,
.HLBLUE,input.HLBLUE,.HBLUE,input.HBLUE,
.HLRED,input.HLRED,.HRED,input.HRED,
.HLCYAN,input.HLCYAN,.HCYAN,input.HCYAN,
.HLMAGENTA,input.HLMAGENTA,.HMAGENTA,input.HMAGENTA,
.HLGREEN,input.HLGREEN,.HGREEN,input.HGREEN,
.HLYELLOW,input.HLYELLOW,.HYELLOW,input.HYELLOW,
.HLGRAY,input.HLGRAY,.HGRAY,input.HGRAY,
.HLBLANK,input.HLBLANK,.HBLANK,input.HBLANK	{
	white-space: normal;
	letter-spacing: normal;
}

.HLWHITE,input.HLWHITE,
.HLBROWN,input.HLBROWN,
.HLBLUE,input.HLBLUE,
.HLRED,input.HLRED,
.HLCYAN,input.HLCYAN,
.HLMAGENTA,input.HLMAGENTA,
.HLGREEN,input.HLGREEN,
.HLYELLOW,input.HLYELLOW,
.HLGRAY,input.HLGRAY,
.HLBLANK,input.HLBLANK
	{
	font-weight: bold;
}

.HBLANK,input.HBLANK,.HLBLANK,input.HLBLANK {
	color: #CCDBDB;
}

.HBLUE,input.HBLUE,.HLBLUE,input.HLBLUE {
	color: #000aa7;
}

.HGREEN,input.HGREEN,.HLGREEN,input.HLGREEN {
	color: black;
}

.HRED,input.HRED,.HLRED,input.HLRED {
	color: #FE0000;
}

.HWHITE,input.HWHITE,.HLWHITE,input.HLWHITE {
	color: #22517D;
}

.HCYAN,input.HCYAN,.HLCYAN,input.HLCYAN {
	color:#16829c;
}

.HMAGENTA,input.HMAGENTA,.HLMAGENTA,input.HLMAGENTA {
	color: #A7329F;
}

.HBROWN,input.HBROWN,.HLBROWN,input.HLBROWN,
.HYELLOW,input.HYELLOW,.HLYELLOW,input.HLYELLOW {
	color: #9F7525;
}

.HGRAY,input.HGRAY,.HLGRAY,input.HLGRAY {
	color: #6F9AAD;
}

.RHBLANK,.RHBLUE,.RHGREEN,.RHRED,.RHCYAN,.RHWHITE,.RHMAGENTA,.RHBROWN,.RHYELLOW,.RHGRAY {
	color: white !important;
}

.RHBLANK {
	background-color: #CCDBDB !important;
}
.RHBLUE{
	background-color: #000aa7 !important;
}
.RHGREEN {
	background-color: #222 !important;
}
.RHRED {
	background-color: #FE0000 !important;
}
.RHCYAN {
	background-color:#16829c !important;
}
.RHWHITE {
	background-color: #22517D !important;
}
.RHMAGENTA{
	background-color: #A7329F !important;
}
.RHBROWN,.RHYELLOW{
	background-color: #9F7525 !important;
}
.RHGRAY{
	background-color: #6F9AAD !important;
}
/* table classes */
.MASTERTABLE {
	border: solid #cccccc 1px;
}

TABLE.HATSTABLE,table.calendar {
	border-collapse:collapse;
	border: 2px solid #A0BFDE;
	margin:10px 0px;
}

.HATSTABLEHEADER,.dayOfWeek,.month,.year {
	background:#FFFFFF url(../images/industry/input_focused_bg.png) repeat-x scroll 0 0;
	color:#444;
	font-weight:bold;
	text-align:left;
	padding:10px;
}
.year {
	background-image: none;
}

.HATSTABLEEVENROW,.HATSTABLEODDROW,.day{
	background-color:#EEFAEE;
	color:#827AB0;
}

.HATSTABLEEVENROW td,.HATSTABLEODDROW td {
	padding: 2px;
	border-bottom: 1px solid #DED;
}

tr.HATSTABLEEVENROW:hover,tr.HATSTABLEODDROW:hover,td.day:hover,.focusDefaultDay,.focusDay {
		background-color:#DFD;
}

td.HATSTABLECAPTIONCELL {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	padding: 4px;
}

table.HATSFIELDTABLE {
	white-space: normal;
	letter-spacing: normal;
}


/* interactive control classes */
INPUT.HATSBUTTON {
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

SELECT.HATSDROPDOWN {
	font-family: arial,tahoma,helvetica,sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

/* static text classes */

.HATSBUTTONTABLECELL {
	padding: 4px;
}

/* popup classes */
DIV.HATSPOPUP {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 150px;
	height: 170px;
	overflow: auto;
	background-color:#95C4EC;
	border:1px solid #1F4C73;
	z-index: 5;
	-moz-border-radius: 8px;
	-moz-box-shadow: 1px 1px 3px #557;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 1px 1px 3px #557;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #557;
}

TABLE.HATSPOPUPTABLE {
	border: 0px;
	width: 100%;
}

TH.HATSPOPUPTH {
	background:transparent url(../images/industry/modal_box_title_bg.jpg) repeat-x scroll 0 0;
	color:#FFFFFF;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-align: right;
}

.HATSPOPUPTH A.HATSLINK {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.HATSPOPUPTH A.HATSLINK:hover{
	background-color: transparent;
	text-decoration: underline;
}

A.HATSPOPUPITEMLINK:link,A.HATSPOPUPITEMLINK:visited {
	color: #1F4A73;
	text-decoration: underline;
}

A.HATSPOPUPITEMLINK:hover {
	color: #0F2A53;
}

/* Dialogs */
.HWF .HATSTABLE {
	border: none;
}

#HWF_TOPLEFT {
	background:url(../images/industry/modal_box_title_bg.jpg) repeat-x;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

#HWF_TOP {
	background: #306883 url(../images/industry/modal_box_title_bg.jpg) repeat-x;
}

#HWF_TOP .HATSFIELD {
	color: #fff;
	font-weight:bold;
}

#HWF_TOPRIGHT {
	background:url(../images/industry/modal_box_title_bg.jpg) repeat-x;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

#HWF_BOTTOMLEFT {
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#HWF_BOTTOM {
	
}

#HWF_BOTTOMRIGHT {
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


/* Status pages */
.HATSSTATUSHEADER {
	/* For accessibility compliance: change following value to 180% */
	font-size: 1.2em;
	font-weight: bold;
}

.HATSSTATUSFOOTER,.HATSFOOTERSTATUSHEADER,.HATSFOOTERSTATUSINFO {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.HATSFOOTERSTATUSHEADER pre {
	white-space: normal;
	word-wrap: break-word;
}


/* keypad dropdowns */
select.ApplicationDropDown,select.HostDropDown {
	font-family: arial,tahoma,helvetica,sans-serif;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

/* keypad tables */
/* Buttons and host application / operator area / keypad */
input.ApplicationButton,input.HostButton,input.HostPFKey {
	background:url(../images/industry/button_bg.jpg) repeat-x;
	height:23px;
	border:1px solid #aaaaaa;
	padding: 1px 3px 4px 3px;
	color:#444;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
input.HATSBUTTON[type="button"] {
	background:url(../images/industry/button_bg.jpg) repeat-x;
	height:23px;
	border:1px solid #aaaaaa;
	padding: 1px 3px 4px 3px;
	color:#444;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.appKeypad {
	text-align: center;
}

table.ApplicationKeypad {
	margin-left: auto;
	margin-right: auto;
	border: none;
}

table.HostKeypad {}

.HostKeypad {
	text-align: center;
}

.statusArea {}

DIV.statusArea {
	border-top: 1px solid #cccccc;
}

TABLE.statusArea {}


.HCURSORINDICATOR {
	color: white;
	text-decoration: underline;
	font-weight: bold;
	background-color: #f00;
}

.HF {
	font-family: courier new, monospace;
}

/* General HTML classes */

td,p,input,select,th {
	font-family: arial,tahoma,helvetica,sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

tt { /* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

ul {
	margin-left:20px;
	list-style-image:url(../images/industry/bullet.gif);
}

h1 {
	margin:0px 10px;
	color:#4EA2C0;
	font-size:24px;
	border-bottom:2px solid #2E6782;
}

h2 {
	margin:0px 10px;
	color:#4EA2C0;
	font-size:18px;	
}

h3 {
	margin:0px 10px;
	color:#4EA2C0;
	font-size:14px;	
}

hr {
	height:1px;
	background:#95C4FC;
	margin:10px 5px;
	border:1px dashed;
} 



