/* Information on  stylesheets and templates is available in   *
 * the User's and Administrator's Guide                        */
@import url(commontheme.css);

BODY {
	background-color: white;
	color: black;
	font-family:  arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

TD, P, INPUT, A, TH, SELECT {
	font-family: arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

TT {
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

/* interactive control classes */
INPUT.HATSBUTTON {
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

SELECT.HATSDROPDOWN {
	font-family: arial, tahoma, helvetica, sans-serif;	
}

/* static text classes */
.HATSBUTTONTABLECELL {
	padding: 4px;
}

/* table classes */
TABLE.HATSTABLE {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	background-color: white;
	border-collapse: collapse;
}

.HATSTABLEHEADER {
	background-color: #0080c0;
	color: white;
	font-weight: bold;
	text-align: center;
	
	border: 1px solid #888888;
	padding: 4px;
}

.HATSTABLEEVENROW {
	background-color: #FFFFFF;
}

.HATSTABLEODDROW {
	background-color: #dddddd;
}

TD.HATSTABLECELL {
	padding: 4px;
	
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
}

TD.HATSTABLECAPTIONCELL {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
	padding: 4px;
	
}

TABLE.HATSFIELDTABLE {
	white-space: normal;
	letter-spacing: normal;
}

.HATSFIELD {
	font-family: courier new, monospace;
	
	color: black;
}

/* Disabled field */
.HDF {
	font-family: courier new, monospace;
	
	color: gray;
}

/* links */
A.HATSLINK:link, A.HATSLINK:visited {	
	color: blue;
}

A.HATSLINK:hover {
	color: #5555ff;
}

A.HATSPROTLINK:link, A.HATSPROTLINK:visited {	
	color: black;
	text-decoration: none;
}

A.HATSPROTLINK:hover {
	color: blue;
	text-decoration: underline;
}

/* popup classes */
DIV.HATSPOPUP {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 150px;
	height: 170px;
	overflow: auto;
	border: solid black 1px;
	background-color: #eeeeff;
	/*-moz-opacity: .46; only works in ns7, moz */
	filter: alpha(opacity=90, style=0);
	z-index: 5;
	/*-moz-border-radius: 6%;*/
}

TABLE.HATSPOPUPTABLE {
	background-color: #eeeeff;
	border: 0px;
	width: 100%;
}

TH.HATSPOPUPTH {
	background-color: #cccccc;
	text-align: right;
}

/* Style Definition for all widgets with color mapping enabled (Hcolor)  */
/* These color map the terminal fields foreground colors to these .html  */
/* color and attributes.                                                 */
.HBLANK, input.HBLANK {
	color: black;
	white-space: normal;
	letter-spacing: normal;	
}

.HBLUE, input.HBLUE {
	color: blue;
	white-space: normal;
	letter-spacing: normal;
}

.HGREEN, input.HGREEN {
	color: green;
	white-space: normal;
	letter-spacing: normal;
}

.HCYAN, input.HCYAN {
	color: #408080;
	white-space: normal;
	letter-spacing: normal;
}

.HRED, input.HRED {
	color: red;
	white-space: normal;
	letter-spacing: normal;
}

.HMAGENTA, input.HMAGENTA {
	color: purple;
	white-space: normal;
	letter-spacing: normal;
}

.HBROWN, input.HBROWN {
	color: #804000;
	white-space: normal;
	letter-spacing: normal;
}

.HWHITE, input.HWHITE {
	color: #666666;
	white-space: normal;
	letter-spacing: normal;
}

.HGRAY, input.HGRAY {
	color: #a0a0a4;
	white-space: normal;
	letter-spacing: normal;
}

.HLBLUE, input.HLBLUE {
	color: #4040c0;
	white-space: normal;
	letter-spacing: normal;
}

.HLGREEN, input.HLGREEN {
	color: #40c040;
	white-space: normal;
	letter-spacing: normal;
}

.HLCYAN, input.HLCYAN {
	color: #40c0c0;
	white-space: normal;
	letter-spacing: normal;
}

.HLRED, input.HLRED {
	color: #ff4040;
	white-space: normal;
	letter-spacing: normal;
}

.HLMAGENTA, input.HLMAGENTA {
	color: #c040ff;
	white-space: normal;
	letter-spacing: normal;
}

.HLYELLOW, input.HLYELLOW {
	color: #c0c000;
	white-space: normal;
	letter-spacing: normal;
}

.HHWHITE, input.HHWHITE {
	color: black;
	white-space: normal;
	letter-spacing: normal;
}


/* keypad links */
A.HostKeyLink {
	color: blue;	
}

A.ApplicationKeyLink {
	color: blue;	
}

/* keypad buttons */
INPUT.ApplicationButton {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

INPUT.HostPFKey {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
	width: 4em;
}

INPUT.HostButton {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
	width: 8em;	
}

INPUT.ApplicationButton:hover {
	border-color: blue;
}

INPUT.HostPFKey:hover {
	border-color: blue;
}

INPUT.HostButton:hover {
	border-color: blue;
}

/* keypad dropdowns */
select.ApplicationDropDown, select.HostDropDown {
  font-family:  arial, tahoma, helvetica, sans-serif;
  /* For accessibility compliance: change following value to 90% */
  font-size: 9pt;
}

/* keypad tables */
TABLE.HostKeypad {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	background-color: #e0e8f8;
}

.HostKeypad {
	text-align: center;
}


/* focus indicator classes used for portlets */
.HATSFOCUSED {
	border: thin solid blue;
}

.HATSSTATUSHEADER {
	border-color: #888888;
	border-style: solid;
	border-width: 1px;
	color: white;
	background-color: #0080c0;
	font-family:  arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: change following value to 180% */
	font-size: 18pt;
	font-weight: bold;
}

.HATSSTATUSFOOTER {
	border-color: #888888;
	border-style: solid;
	border-width: 1px;
	color: black;
	background-color: #cccccc;
	font-family:  arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.HATSFOOTERSTATUSHEADER, .HATSFOOTERSTATUSINFO {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.statusArea {
	font-family: arial, tahoma, helvetica, sans-serif;
	margin: auto;
	background-color: white;
	color: black;
}

DIV.statusArea {
	border-width: 1px;
	border-color: #888888;
	border-style: solid;
}

TABLE.statusArea{
	table-layout: fixed;
	empty-cells: hide;
}

.inputInhibited{
	color:red;
	font: bold;
}

.HCURSORINDICATOR {
	color: red;
	text-decoration: underline;
	font: bold;
	background-color: #c0c000;
}

.HF {
	font-family: courier new, monospace;
}

